# changes file
*.changes

# system image
*.image

# Pharo Smalltalk Debug log file
PharoDebug.log

# Squeak Smalltalk Debug log file
SqueakDebug.log

# Monticello package cache
/package-cache
/pharo-local

# Metacello-github cache
/github-cache
github-*.zip
